@model IEnumerable<AssignementOne.Models.Cours>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff_Details.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Detail.full_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course_grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff_Details.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Detail.full_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.course_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.course_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.course_id })
        </td>
    </tr>
}

</table>
